<!DOCTYPE html>
<html lang="en" 
    th:fragment="parent(content, title, script)"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-replace="${title}">Document</title>

    <!-- Output css Link -->
    <link rel="stylesheet" data-th-href="@{/css/output.css}">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>

<div data-th-replace="~{navbar :: default-navbar}"></div>

    <section data-th-replace="${content}"></section>

    <footer data-th-replace="footer :: footer">

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    <script data-th-replace="${script}"></script>
</body>

</html>
