<!DOCTYPE html>
<html lang="en" data-th-replace="~{base-template :: parent(~{::#content}, ~{::title}, ~{::script})}">
<head>
    <title>Sign up Form</title>
   
</head>
<body class="bg-gray-100">
    <form id="content"   data-th-action="@{'/new-user'}" method="post" class="mt-20 mx-auto max-w-lg p-6 bg-white border rounded-lg shadow-md" onsubmit="validateForm(event)">
        <h1 class="mb-8 text-3xl text-center font-semibold">Sign up</h1>
        
        <div class="grid grid-cols-1 gap-6 mb-6 md:grid-cols-3">
            <div class="flex flex-col">
                <label for="fname" class="font-semibold">First Name:</label>
                <input type="text" name="fName" id="fname" placeholder="First Name" class="mt-1 rounded-md p-2 border" required>
            </div>
            <div class="flex flex-col">
                <label for="mname" class="font-semibold">Middle Name:</label>
                <input type="text" name="mName" id="mname" placeholder="Middle Name" class="mt-1 rounded-md p-2 border" required>
            </div>
            <div class="flex flex-col">
                <label for="lname" class="font-semibold">Last Name:</label>
                <input type="text" id="lname" name="lName"  placeholder="Last Name" class="mt-1 rounded-md p-2 border" required>
            </div>
        </div>

        <!-- Email and Contact Number -->
        <div class="grid grid-cols-1 gap-6 mb-6 md:grid-cols-3">
            <div class="flex flex-col">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="email">
                    Gmail:</label>
                <input id="email" name="email" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"  type="email" placeholder="abc@gmail.com" onmouseleave="checkEmail()" required>
                <p class=" font-semibold text-red-700 ">Invalid Gmail</p>
            </div>
            <div class="flex flex-col">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="contact1">
                    Contact 1:</label>
                <input id="contact1" name="contact1" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"  type="text" placeholder="+91 12345 67890" required>
                <p class=" font-semibold text-red-700 ">Invalid contact</p>

            </div>
            <div class="flex flex-col">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="contact2">
                    Contact 2:</label>
                <input id="contact2" name="contact2" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"  type="text" placeholder="+91 12345 67890">
                <p class=" font-semibold text-red-700 ">Invalid contact</p>

            </div>
        </div>

        <!-- Passwords -->
        <div class="grid grid-cols-1 gap-6 mb-6 md:grid-cols-2">
            <div class="flex flex-col">
                <label for="password" class="font-semibold" >Password:</label>
                <input type="password" name="password" id="password" class="w-full rounded-md p-2 border mt-1" placeholder="*******" required>
            </div>
            <div class="flex flex-col">
                <label for="confirm_password" id="confirm-password" class="font-semibold">Confirm Password:</label>
                <input type="password" name="confirm_password" id="confirm_password" class="w-full rounded-md p-2 border mt-1" placeholder="*******"  onmouseout="checkPassword()" required>
                <p class="hidden font-sans text-red-700"> Password Does not Match..</p>
                <p class="hidden font-sans text-blue-700 "> Password Match..</p>
            </div>
        </div>

        <!-- About -->
        <div class="flex flex-col mb-6">
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900">About:</label>
            <textarea id="about" name="about" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Leave a comment..."></textarea>
        </div>

        <!-- Profile Image -->
        <div class="flex flex-col mb-6">
            <label class="block mb-2 text-sm font-medium text-gray-900" for="user_avatar">Upload profile Photo:</label>
            <input id="profilePhoto" name="profilePhoto" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none" aria-describedby="user_avatar_help"  type="file">
            <div class="mt-1 text-sm text-gray-500" id="user_avatar_help">A profile picture is useful to confirm you are logged into your account</div>
        </div>

        <!-- Checkbox -->
        <fieldset class="flex flex-col mb-6">
            <legend class="sr-only">Checkbox variants</legend>
            <div class="flex items-center">
                <input id="checkbox"  type="checkbox" value="underline" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" onmouseleave="check_box()" >
                <label for="checkbox-1" class="ml-2 text-sm font-medium text-gray-900">I agree to the <a href="#" class="text-blue-600 hover:underline">terms and conditions</a>.</label>
            </div>
        </fieldset>

        <!-- Buttons -->
        <div class="flex justify-evenly">
            <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600" role="button">Submit</button>
            <button type="reset" class="px-4 py-2 bg-gray-500 text-white rounded-md hover:bg-gray-600" role="button">Reset</button>
        </div>
 <div class="text-grey-dark mt-6">
                    Already have an account? 
                    <a class="no-underline border-b border-blue text-blue" data-th-href="@{'/login'}">
                        Log in
                    </a>.
                </div>
    </form>

    <script>

//Functioon for Check Password is match
//Checks the all form will submit or not 


        //checks User name
        function check_username(){
            
        }

        // Check password 
function check_password(){
            // event.preventDefault();
            const password = document.getElementById('password');
            const confirm_password=document.getElementById('confirm-password');
            const password_match=document.getElementById('matched');
            const password_unmatch=document.getElementById('not_matched');
            if(password!=confirm_password){
                // make passwor not matched Visible
            }else{
                // make password Match Visible
            }            
        }

        // Check Email
        function check_email(){
            const email=document.getElementById("email").innerText;
            console.log(email)
            
        }

        // Check Contacts
        function check_contact(){
            const contact=document.getElementById("contact1").innerText;
            const contact1=document.getElementById("contact2").innerText;
        }
        //Check Checked Box
        function check_box(){
            const check=document.getElementById("checkbox");
            if(check!=true){
                alert("Accept Terms and Conditations...")
            }
        }
    </script>
</body>
</html>
