<!DOCTYPE html>
<html lang="en" data-th-replace="~{user-base-template :: parent(~{:: #content}, ~{::title} , ~{::script})}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Contact</title>
</head>

<body>
  <form id="content" method="post" data-th-action="@{/user/addContactDB}"  data-th-object="${addContact}"
  class="mt-20 pt-20 mx-auto max-w-lg md:max-w-2xl lg:max-w-3xl bg-white border rounded-lg shadow-md p-4 sm:p-6 md:p-8 lg:p-10">

  <!------------------ message text ---------------->
  <div data-th-if="#{session.message}" data-th-replace="~{message :: message}"></div>
  
  <!------------- message text --------------------->

  <!-- Name Field (Single line across all screen sizes) -->
  <div class="grid gap-6 mb-6">
    <div class="col-span-full">
      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Name</label>
      <input type="text"
      data-th-field="*{name}" id="name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="John" required />
    </div>
  </div>

  <!-- Contact Fields (Single line on medium screens) -->
  <div class="grid gap-6 mb-6 sm:grid-cols-1 md:grid-cols-2">
    <div>
      <label for="phone1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Primary number</label>
      <input type="tel" data-th-field="*{PrimaryContact}" id="phone1"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required />
    </div>

    <div>
      <label for="phone2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Secondary number</label>
      <input type="tel" data-th-field="*{SecondaryContact}" id="phone2"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required />
    </div>
  </div>

  <div class="mb-6">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email address</label>
    <input type="email" id="email" data-th-field="*{email}"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="abc@company.com"  />
  </div>

  <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="small_size"> Profile Photo</label>
  <input data-th-field="*{profilePhoto}"
    class="block w-full mb-5 text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
    id="small_size" type="file">

  <div class="flex items-start mb-6">
    <div class="flex items-center h-5">
      <input id="remember" type="checkbox" value=""
        class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
        required />
    </div>
    <label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">I agree with the <a
        href="#" class="text-blue-600 hover:underline dark:text-blue-500">terms and conditions</a>.</label>
  </div>

  <button type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add Contact</button>
</form>

  <!-- This is where your scripts will be executed -->
  <script>
    console.log("thiss")
  </script>
</body>

</html>