<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- THis is the main npm links -->
    <!-- <link rel="stylesheet" type="text/css" href="src/main/resources/static/css/output.css"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    
   </head>
<body>
    <div class="translate-y-32 border-solid bg-red-500 mt-1 ">    <h1 class="text-3xl font-bold text-red-50 ">Anu </h1>
  
    </div>
    <button class="border rounded-3xl font-bold p-2  text-white bg-purple-500 hover:bg-green-900 border-solid ">submit</button>
</body>
</html>